# Electoral Bond India

#### Loading the Packages and Library

In [87]:
# import numpy as np
import pandas as pd 
# import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'tabula'

#### Loading the Data

In [39]:
purchaser_data = pd.read_csv("G://Dataset for Data Analysis//Electroral Bond Data//ED_Purchaser_Details.csv")

#### Metadata of dataframe

In [4]:
purchaser_data.head(5)

,Sr No.,Reference No (URN),Journal Date,Date of\rPurchase,Date of Expiry,Name of the Purchaser,Prefix,Bond\rNumber,Denominations,Issue Branch Code,Issue Teller,Status
0,1,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11448,"10,00,000",00001,5899230,Paid
1,2,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11447,"10,00,000",00001,5899230,Paid
2,3,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11441,"10,00,000",00001,5899230,Paid
3,4,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1113,"1,00,000",00001,5899230,Paid
4,5,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1118,"1,00,000",00001,5899230,Paid

In [5]:
pd.set_option("display.max_row",100)
purchaser_data.head(100)

,Sr No.,Reference No (URN),Journal Date,Date of\rPurchase,Date of Expiry,Name of the Purchaser,Prefix,Bond\rNumber,Denominations,Issue Branch Code,Issue Teller,Status
0,1,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11448,"10,00,000",00001,5899230,Paid
1,2,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11447,"10,00,000",00001,5899230,Paid
2,3,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11441,"10,00,000",00001,5899230,Paid
3,4,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1113,"1,00,000",00001,5899230,Paid
4,5,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1118,"1,00,000",00001,5899230,Paid
5,6,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1112,"1,00,000",00001,5899230,Paid
6,7,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1115,"1,00,000",00001,5899230,Paid
7,8,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1119,"1,00,000",00001,5899230,Paid
8,9,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1110,"1,00,000",00001,5899230,Paid
9,10,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1111,"1,00,000",00001,5899230,Paid
10,11,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1106,"1,00,000",00001,5899230,Paid
11,12,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1114,"1,00,000",00001,5899230,Paid
12,13,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1117,"1,00,000",00001,5899230,Paid
13,14,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,TL,11556,"10,00,000",00001,5899230,Paid
14,15,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,TL,11555,"10,00,000",00001,5899230,Paid
15,16,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,OL,1125,"1,00,000",00001,5899230,Paid
16,17,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,OL,1129,"1,00,000",00001,5899230,Paid
17,18,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,OL,1124,"1,00,000",00001,5899230,Paid
18,19,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,OL,1128,"1,00,000",00001,5899230,Paid
19,20,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,OL,1126,"1,00,000",00001,5899230,Paid
20,21,00001201904120000001177,12/Apr/2019,12/Apr/2019,26/Apr/2019,ARIHANT ENTERPRISES,TL,11551,"10,00,000",00001,5899230,Paid
21,22,00001201904120000001177,12/Apr/2019,12/Apr/2019,26/Apr/2019,ARIHANT ENTERPRISES,TL,11554,"10,00,000",00001,5899230,Paid
22,23,00001201904120000001177,12/Apr/2019,12/Apr/2019,26/Apr/2019,ARIHANT ENTERPRISES,TL,11553,"10,00,000",00001,5899230,Paid
23,24,00001201904120000001177,12/Apr/2019,12/Apr/2019,26/Apr/2019,ARIHANT ENTERPRISES,TL,11552,"10,00,000",00001,5899230,Paid
24,25,00300201904120000001173,12/Apr/2019,12/Apr/2019,26/Apr/2019,CHOUDHARY GARMENTS,TL,12904,"10,00,000",00300,4180496,Paid
25,26,00300201904120000001173,12/Apr/2019,12/Apr/2019,26/Apr/2019,CHOUDHARY GARMENTS,TL,12902,"10,00,000",00300,4180496,Paid
26,27,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6297,"1,00,00,000",00001,5899230,Paid
27,28,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6275,"1,00,00,000",00001,5899230,Paid
28,29,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6261,"1,00,00,000",00001,5899230,Paid
29,30,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6278,"1,00,00,000",00001,5899230,Paid
30,31,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6262,"1,00,00,000",00001,5899230,Paid
31,32,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6274,"1,00,00,000",00001,5899230,Paid
32,33,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6257,"1,00,00,000",00001,5899230,Paid
33,34,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6273,"1,00,00,000",00001,5899230,Paid
34,35,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6272,"1,00,00,000",00001,5899230,Paid
35,36,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6280,"1,00,00,000",00001,5899230,Paid
36,37,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6251,"1,00,00,000",00001,5899230,Paid
37,38,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,4597,"1,00,00,000",00001,5899230,Paid
38,39,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6279,"1,00,00,000",00001,5899230,Paid
39,40,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6296,"1,00,00,000",00001,5899230,Paid
40,41,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6256,"1,00,00,000",00001,5899230,Paid
41,42,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6286,"1,00,00,000",00001,5899230,Paid
42,43,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6298,"1,00,00,000",00001,5899230,Paid
43,44,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6267,"1,00,00,000",00001,5899230,Paid
44,45,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,4632,"1,00,00,000",00001,5899230,Paid
45,46,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6284,"1,00,00,000",00001,5899230,Paid
46,47,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6254,"1,00,00,000",00001,5899230,Paid
47,48,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6292,"1,00,00,000",00001,5899230,Paid
48,49,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6268,"1,00,00,000",00001,5899230,Paid
49,Sr No.,Reference No (URN),Journal Date,Date of\rPurchase,Date of Expiry,Name of the Purchaser,Prefix,Bond\rNumber,Denominations,Issue Branch Code,Issue Teller,Status
50,50,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6258,"1,00,00,000",00001,5899230,Paid
51,51,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6253,"1,00,00,000",00001,5899230,Paid
52,52,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6293,"1,00,00,000",00001,5899230,Paid
53,53,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6281,"1,00,00,000",00001,5899230,Paid
54,54,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6264,"1,00,00,000",00001,5899230,Paid
55,55,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6288,"1,00,00,000",00001,5899230,Paid
56,56,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6300,"1,00,00,000",00001,5899230,Paid
57,57,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6269,"1,00,00,000",00001,5899230,Paid
58,58,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,4598,"1,00,00,000",00001,5899230,Paid
59,59,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6263,"1,00,00,000",00001,5899230,Paid
60,60,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6270,"1,00,00,000",00001,5899230,Paid
61,61,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6283,"1,00,00,000",00001,5899230,Paid
62,62,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6299,"1,00,00,000",00001,5899230,Paid
63,63,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6271,"1,00,00,000",00001,5899230,Paid
64,64,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6252,"1,00,00,000",00001,5899230,Paid
65,65,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6282,"1,00,00,000",00001,5899230,Paid
66,66,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6259,"1,00,00,000",00001,5899230,Paid
67,67,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6295,"1,00,00,000",00001,5899230,Paid
68,68,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6260,"1,00,00,000",00001,5899230,Paid
69,69,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6255,"1,00,00,000",00001,5899230,Paid
70,70,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6265,"1,00,00,000",00001,5899230,Paid
71,71,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6285,"1,00,00,000",00001,5899230,Paid
72,72,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6289,"1,00,00,000",00001,5899230,Paid
73,73,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6291,"1,00,00,000",00001,5899230,Paid
74,74,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6294,"1,00,00,000",00001,5899230,Paid
75,75,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6287,"1,00,00,000",00001,5899230,Paid
76,76,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,TL,11440,"10,00,000",00001,5899230,Paid
77,77,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,TL,11437,"10,00,000",00001,5899230,Paid
78,78,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,TL,11439,"10,00,000",00001,5899230,Paid
79,79,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,TL,11445,"10,00,000",00001,5899230,Paid
80,80,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,TL,11438,"10,00,000",00001,5899230,Paid
81,81,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,TL,11432,"10,00,000",00001,5899230,Paid
82,82,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,TL,11444,"10,00,000",00001,5899230,Paid
83,83,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,TL,11443,"10,00,000",00001,5899230,Paid
84,84,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,TL,11446,"10,00,000",00001,5899230,Paid
85,85,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,TL,11442,"10,00,000",00001,5899230,Paid
86,86,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7045,"1,00,00,000",00300,4180496,Paid
87,87,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7041,"1,00,00,000",00300,4180496,Paid
88,88,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7025,"1,00,00,000",00300,4180496,Paid
89,89,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7051,"1,00,00,000",00300,4180496,Paid
90,90,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7035,"1,00,00,000",00300,4180496,Paid
91,91,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7059,"1,00,00,000",00300,4180496,Paid
92,92,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7037,"1,00,00,000",00300,4180496,Paid
93,93,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7033,"1,00,00,000",00300,4180496,Paid
94,94,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7053,"1,00,00,000",00300,4180496,Paid
95,95,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7061,"1,00,00,000",00300,4180496,Paid
96,96,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7029,"1,00,00,000",00300,4180496,Paid
97,97,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7049,"1,00,00,000",00300,4180496,Paid
98,98,00300201904120000001168,12/Apr/2019,12/Apr/2019,26/Apr/2019,GRASIM INDUSTRIES LTD,OC,7057,"1,00,00,000",00300,4180496,Paid
99,Sr No.,Reference No (URN),Journal Date,Date of\rPurchase,Date of Expiry,Name of the Purchaser,Prefix,Bond\rNumber,Denominations,Issue Branch Code,Issue Teller,Status

In [43]:
# Drop the rows with column heading in the purchaser_data

temp = purchaser_data

a = []

for i in range(0,len(temp["Sr No."])):
    if temp.iloc[i]["Sr No."]=="Sr No.":
        a.append(i)

In [44]:
pd_temp = temp.drop(axis=0,index = a,inplace = True)

In [45]:
print(purchaser_data.dtypes)
print(purchaser_data.columns)

Sr No.                   object
Reference No  (URN)      object
Journal Date             object
Date of\rPurchase        object
Date of Expiry           object
Name of the Purchaser    object
Prefix                   object
Bond\rNumber             object
Denominations            object
Issue Branch Code        object
Issue Teller             object
Status                   object
dtype: object
Index(['Sr No.', 'Reference No  (URN)', 'Journal Date', 'Date of\rPurchase',
       'Date of Expiry', 'Name of the Purchaser', 'Prefix', 'Bond\rNumber',
       'Denominations', 'Issue Branch Code', 'Issue Teller', 'Status'],
      dtype='object')

In [52]:
purchaser_data.head()

,Sr No.,Reference No (URN),Journal Date,Date of\rPurchase,Date of Expiry,Name of the Purchaser,Prefix,Bond\rNumber,Denominations,Issue Branch Code,Issue Teller,Status
0,1,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11448,"10,00,000",00001,5899230,Paid
1,2,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11447,"10,00,000",00001,5899230,Paid
2,3,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11441,"10,00,000",00001,5899230,Paid
3,4,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1113,"1,00,000",00001,5899230,Paid
4,5,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1118,"1,00,000",00001,5899230,Paid

In [82]:
# Writing the data in csv file 

purchaser_data.to_csv("G:\\Job Projects\\Project 3 - Electoral Bond Data\\Electroral Bond Data\\ED_Purchaser_Details_1.csv",
                     sep = ",",
                     index = False)

### Working on EB_Redemption.csv File

In [103]:
redemption_data = pd.read_csv("G:\\Job Projects\\Project 3 - Electoral Bond Data\\Electroral Bond Data\\ED_Redemption_Details.csv")

In [104]:
print(redemption_data.columns)
print(redemption_data.shape)

Index(['Sr No.', 'Date of\rEncashment', 'Name of the Political Party',
       'Account no. of\rPolitical Party', 'Prefix', 'Bond\rNumber',
       'Denominations', 'Pay Branch\rCode', 'Pay Teller'],
      dtype='object')
(20972, 9)

In [105]:
a = []

for i in range(0,len(redemption_data["Sr No."])):
        if redemption_data.iloc[i]["Sr No."] == "Sr No.":
            a.append(i)

In [106]:
# dropping unnecessary rows 
redemption_data.drop(axis=0,index = a,inplace = True)

In [107]:
redemption_data.shape

(20421, 9)

In [75]:
# redemption_data = pd.DataFrame(redemption_data)

In [108]:
redemption_data.head()

,Sr No.,Date of\rEncashment,Name of the Political Party,Account no. of\rPolitical Party,Prefix,Bond\rNumber,Denominations,Pay Branch\rCode,Pay Teller
0,1,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,"1,00,00,000",00800,2770121
1,2,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,"1,00,00,000",00800,2770121
2,3,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,"1,00,00,000",00800,2770121
3,4,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418,"10,00,000",00800,2770121
4,5,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,"10,00,000",00800,2770121

In [109]:
type(redemption_data)

pandas.core.frame.DataFrame

In [110]:
# writing the data to a EB_Redemption_1.csv file

redemption_data.to_csv("G:\\Job Projects\\Project 3 - Electoral Bond Data\\Electroral Bond Data\\ED_Redemption_Details_1.csv",
                     sep = ",",
                     index = False)